<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vince.dao.StudentDao">

    <resultMap type="com.vince.model.StudentEbo" id="StudentMap">
        <result property="id" column="id" jdbcType="INTEGER" javaType="Integer"/>
        <result property="name" column="name" jdbcType="VARCHAR" javaType="String"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <sql id="studentEboMap">
        SELECT
        s.id,s.name,s.create_time
        FROM
        t_student AS s
    </sql>

    <select id="listStu" resultMap="StudentMap">
        <include refid="studentEboMap"/>
        <where>
            1=1
            <if test=" name != null and name != '' ">
                AND s.name LIKE '%${name}%'
            </if>
        </where>
    </select>

</mapper>